{% extends 'custom_base.html' %}


{% block title %}
О проекте
{% endblock %}

{% block content %}
<div class="about-container">
	<p>
		<h3>Участники проекта:</h3>
		<ul>
			<li><strong>Сайт:</strong></li>
			<ul>
				<li><strong>Александра Жирова</strong> - Cбор информации для тестирования</li>
				<li><strong>Тимур Кадыров</strong> - Back-end разработка, работа с кодом</li>
				<li><strong>Тимофей Щельц</strong> - Визуальное оформление интерфейса</li>
			</ul>
			<li><strong>Теория:</strong></li>
			<ul>
				<li><strong>Александр Иваненко</strong>
					<ol>
						<li>
							<a href="/theory/pristavki">Правописание приставок</a>
						</li>
						<li>
							<a href="/theory/sredstva-svazi-predlojeniy-v-texte">Средства связи предложений в тексте</a>
						</li>
					</ol>
				</li>
				<li><strong>Александр Мукасеев</strong>
					<ol>
						<li>
							<a href="/theory/ne-and-ni">Правописание НЕ с разными частями речи</a>
						</li>
						<li>
							<a href="/theory/paronimi">Употребление паронимов</a>
						</li>
					</ol>
				</li>
				<li><strong>Артём Маликов</strong>
					<ol>
						<li>
							<a href="/theory/punctuation">Пунктуация</a>
						</li>
						<li>
							<a href="/theory/smislovaya-i-kompozicionnaya-celostnoct-texta">Смысловая и композиционная целостность текста</a>
						</li>
					</ol>
				</li>
				<li><strong>Владислав Вовк</strong>
					<ol>
						<li>
							<a href="/theory/korni">Корни</a>
						</li>
						<li>
							<a href="/theory/lexicheskoe-znachenie-slova">Лексическое значение слова</a>
						</li>
					</ol>
				</li>
				<li><strong>Владислав Иванов</strong>
					<ol>
						<li>
							<a href="/theory/morfologicheskie-normi">Морфологические нормы</a>
						</li>
					</ol>
				</li>
				<li><strong>Николь Огородникова</strong>
					<ol>
						<li>
							<a href="/theory/udarenie">Постановка ударений</a>
						</li>
						<li>
							<a href="/theory/yazokovie-sredstva-virazitelnosti">Языковые средства выразительности</a>
						</li>
					</ol>
				</li>
				<li><strong>Николай Лихарев</strong>
					<ol>
						<li>
							<a href="/theory/n-and-nn">Правописание -Н- и -НН- в различных частях речи</a>
						</li>
						<li>
							<a href="/theory/lexicheskie-normi">Лексические нормы</a>
						</li>
					</ol>
				</li>
				<li><strong>Кирилл Русанов</strong>
					<ol>
						<li>
							<a href="/theory/defis-slitno-razdelno">Слитное, дефисное, раздельное написание слов</a>
						</li>
						<li>
							<a href="/theory/functionalno-smislovie-tipi-rechi">Функционально-смысловые типы речи</a>
						</li>
						<!-- <li>Как писать сочинение</li> -->
					</ol>
				</li>
			</ul>
		</ul>

		<!-- <TODO style="color:#0000">
			TODO: надо будет написать полные имена и фамилии
		</TODO>-->
	</p>
</div>
{% endblock %}

