{% extends "base.html" %}

{% block header %}
	<header>
		<a href="/">Главная</a> | 
		<a href="/tests-list">Тесты</a> | 
		<a href="/theory">Теория</a> | 
		<a href="/about">О проекте</a>
	</header>
	
<!-- 	<div id="menu-sidebar">
		<div class="menu-toggle-btn" onclick="openMenu()">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul>
			<li>Меню</li>
			<li><a href="/">Главная</a></li>
			<li><a href="/tests-list">Тесты</a></li>
			<li><a href="/theory">Теория</a></li>
			<li><a href="/about">О проекте</a></li>
		</ul>
	</div> -->
{% endblock %}
    